<div class="container-fluid">
    <div class="content-wrapper">
        <div class="container">
            <div class="well">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{data.image_large}}" class="img-responsive" />
                    </div>
                    <div class="col-md-6">
                        <h2>{{data.name}}</h2>
                        <!--<div ng-repeat="i in getStarCount(starCount)"><i class="fa fa-star fa-lg gold"></i></div>-->
                        <!--<div><i class="fa fa-star fa-lg gold"></i> <i class="fa fa-star fa-lg gold"></i> <i class="fa fa-star fa-lg gold"></i> <i class="fa fa-star fa-lg gold"></i> <i class="fa fa-star-o fa-lg"></i> </div>-->
                        <div><img src="{{data.rating_img_url_large}}" class="img-responsive"/></div>
                        <h4>{{data.review_count}} Reviews</h4>
                        <h3>Top Review: </h3>
                        <p>
                            {{data.snippet_text}}
                        </p>
                        <h3>How to get there: </h3>
                        <div> <i class="fa fa-phone fa-lg"></i>  &nbsp; {{data.display_phone}}</div>
                        <br />
                        <div class="row">
                            <div><i class="fa fa-location-arrow fa-lg col-md-1"></i></div>
                            <div class="col-md-5">
                            <div ng-repeat="line in data.location.display_address">
                            {{line}}
                            </div>
                            </div>
                        </div>
                        <br />

                        <br />
                        <br/>
                    </div>
                </div>
                <div>
                    <br />
                    <div ng-if="!currentUser">
                        <p><a class="btn btn-success" href="#/register" role="button">Please signup to review!</a></p>
                    </div>
                    <h3>Select your Rating: </h3>
                    <div>
                        <uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" aria-labelledby="default-rating" stateOn="glyphicon glyphicon-star glyphicon-size" stateOff="glyphicon glyphicon-star-empty glyphicon-size"
                                    class="star-color" ></uib-rating>
                        <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
                    </div>

                    <h3>Write Review :</h3>
                    <div>
                        <textarea ng-model="data.buffer" class="form-control" rows="3" id="comment"></textarea>
                    </div>
                    <br/>
                    <button ng-if="!updFlag" class="btn btn-success"
                            ng-click="addReview(data)">
                        Add Review
                    </button>
                    <button ng-if="updFlag" class="btn btn-success"
                            ng-click="updateReview()">
                        Update Review
                    </button>
                    <button ng-if="updFlag" class="btn btn-danger"
                            ng-click="cancel()">
                        Cancel
                    </button>

                    <div ng-if="reviews">
                        <h3>Other Users that reviewed this Place: </h3>
                        <article ng-repeat="review in reviews" class="search-result row well">
                            <div class="col-xs-5 col-sm-4 col-md-2">
                                <a href="#/othersprofile/{{review.userID}}" title="{{review.username}}"><img src="{{review.userimg}}" width="140" height="140" style="padding: 0px" alt="{{review.username}}" class="img-responsive img-circle" /></a>
                            </div>
                            <div class="col-xs-7 col-sm-3 col-md-3">
                                <ul class="meta-search">
                                    <li><i class="glyphicon glyphicon-calendar glyphicon-size"></i> <strong class="hidden-xs hidden-sm glyphicon-size"> Date: </strong><span class="glyphicon-size"> {{review.updated.split(" ")[0]}} </span></li>
                                    <li><i class="glyphicon glyphicon-time glyphicon-size"></i>  <strong class="hidden-xs hidden-sm glyphicon-size"> Time: </strong><span class="glyphicon-size"> {{review.updated.split(" ")[1]}} </span></li>
                                </ul>
                                <!--<strong class="hidden-xs hidden-sm glyphicon-size"> Reviews: </strong>-->
                            </div>
                            <div class="col-xs-12 col-sm-5 col-md-7 excerpet">
                                <h3><a href="#/othersprofile/{{review.userID}}" title="{{review.username}}">{{review.username}}</a></h3>
                                <uib-rating ng-model="review.ratval" max="max" read-only="true" on-hover="hoveringOver(value)" on-leave="overStar = null" aria-labelledby="default-rating"></uib-rating>
                                <h3>Review:</h3>
                                <p>{{review.comment}}</p>
                                <!--<span class="plus" ng-click="updateReview()"><a href="#" title="update"><i class="glyphicon glyphicon-pencil"></i></a></span>-->
                            </div>
                            <div ng-if="currentUser._id == review.userID" class="pull-right">
                                <button class="btn btn-danger"><span class="glyphicon glyphicon-remove"
                                                                     ng-click="deleteReview(review)"></span></button>
                                <button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"
                                                                      ng-click="selectReview(review)"></span></button>
                            </div>
                            <span class="clearfix borda"></span>
                        </article>
                        <h4>

                        </h4>

                        <!--<ul>-->
                            <!--<li ng-repeat="review in place.reviews">-->
                                <!--{{review.username}} wrote a review:-->
                                <!--<uib-rating ng-model="review.ratval" max="max" read-only="true" on-hover="hoveringOver(value)" on-leave="overStar = null" aria-labelledby="default-rating"></uib-rating>-->
                                <!--<p>-->
                                    <!--{{review.comment}}-->
                                <!--</p>-->
                            <!--</li>-->
                        <!--</ul>-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>