<!DOCTYPE html>
<html lang="en">

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Form Maker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="#" class="disabled">Register</a></li>
                <li><a href="#">Login</a></li> -->
                <li><a href="/assignment/profile.html">Username</a></li>
                <li><a href="/assignment/login.html">Logout</a></li>
            </ul>
            <!--
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
            -->
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">Admin</h1>
            <h2>Users</h2>
            <table class="table table-bordered table-80">
                <thead>
                <tr>
                    <th><p class="data-font-size"> Username </p></th>
                    <th><p class="data-font-size"> Password</p></th>
                    <th><p class="data-font-size"> Role</p></th>
                    <th><p class="data-font-size"> Action</p></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="form-group row table-form">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="inputdefault" placeholder="Username">
                        </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group row table-form">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="inputdefault" placeholder="Password">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group row table-form">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="inputdefault" placeholder="Role1,Role2">
                            </div>
                        </div>
                    </td>
                    <td><span class="glyphicon glyphicon-ok glyphicon-size glyphicon-colorgreen"></span>
                        <span class="glyphicon glyphicon-plus glyphicon-size glyphicon-colorgreen"></span></td>
                </tr>
                <tr>
                    <td><p class="data-font-size"> John </p></td>
                    <td></td>
                    <td><div class="table-form" id="inputdefault"><p class="data-font-size">student</p></div></td>
                    <td><span class="glyphicon glyphicon-remove glyphicon-size glyphicon-colorred"></span>
                    <span class="glyphicon glyphicon-pencil glyphicon-size glyphicon-colorbro"></span></td>

                </tr>
                <tr>
                    <td><p class="data-font-size"> Bob </p></td>
                    <td></td>
                    <td><p class="data-font-size"> faculty | admin </p></td>
                    <td><span class="glyphicon glyphicon-remove glyphicon-size glyphicon-colorred"></span>
                    <span class="glyphicon glyphicon-pencil glyphicon-size glyphicon-colorbro"></span></td>
                </tr>
                <tr>
                    <td><p class="data-font-size"> July</p></td>
                    <td></td>
                    <td></td>
                    <td><span class="glyphicon glyphicon-remove glyphicon-size glyphicon-colorred"></span>
                    <span class="glyphicon glyphicon-pencil glyphicon-size glyphicon-colorbro"></span></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<!-- <script src="../../assets/js/vendor/holder.min.js"></script>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
</body>
</html>
