<!DOCTYPE html>
<html lang="en">
<body>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">Forms</h1>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#" class="disabled">Forms</a></li>
                <li role="presentation"><a href="/assignment/form-fields.html">Fields</a></li>
            </ul>
            <table class="table table-bordered table-50">
                <thead>
                <tr>
                    <th><p class="data-font-size"> Form Name </p></th>
                    <th><p class="data-font-size"> Action</p></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="form-group row table-form">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="inputdefault" placeholder="Name">
                            </div>
                        </div>
                    </td>
                    <td class="glyph-td"><span class="glyphicon glyphicon-ok glyphicon-size glyphicon-colorgreen"></span>
                        <span class="glyphicon glyphicon-plus glyphicon-size glyphicon-colorgreen"></span></td>
                </tr>
                <tr>
                    <td><p class="data-font-size"> Registration Form </p></td>
                    <td class="glyph-td"><span class="glyphicon glyphicon-remove glyphicon-size glyphicon-colorred"></span>
                        <span class="glyphicon glyphicon-pencil glyphicon-size glyphicon-colorbro"></span></td>

                </tr>
                <tr>
                    <td><p class="data-font-size"> Contact List </p></td>
                    <td class="glyph-td"><span class="glyphicon glyphicon-remove glyphicon-size glyphicon-colorred"></span>
                        <span class="glyphicon glyphicon-pencil glyphicon-size glyphicon-colorbro"></span></td>
                </tr>
                <tr>
                    <td><p class="data-font-size"> To Do List </p></td>
                    <td class="glyph-td"><span class="glyphicon glyphicon-remove glyphicon-size glyphicon-colorred"></span>
                        <span class="glyphicon glyphicon-pencil glyphicon-size  glyphicon-colorbro"></span></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<!-- <script src="../../assets/js/vendor/holder.min.js"></script>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
</body>
</html>
