<div ng-show="currentUser" class="col-sm-3 col-md-2 sidebar well">
    <ul class="nav nav-sidebar nav-collapse">
        <li ng-class="{'active' : $location.url() == '/'}" >
            <a href="#/"><i class="glyphicon glyphicon-home"></i> &nbsp; &nbsp; &nbsp; &nbsp; Home </a></li>
        <li ng-class="{'active' : $location.url() == '/profile'}">
            <a href="#/profile"><i class="glyphicon glyphicon-user"></i> &nbsp; &nbsp; &nbsp; &nbsp; Profile Overview </a></li>
        <li ng-class="{'active' : $location.url() == '/followers'}">
            <!--<button class="btn btn-default" ng-click = "changeDisplay()"><i class="fa fa-users"></i> &nbsp; &nbsp; &nbsp; &nbsp;Followers </button></li>-->
            <a href="#/followers"><i class="fa fa-users"></i> &nbsp; &nbsp; &nbsp; &nbsp;Followers </a></li>
        <li ng-class="{'active' : $location.url() == '/reviews'}">
            <a href="#/profile"><i class="fa fa-star"></i> &nbsp; &nbsp; &nbsp; &nbsp; My Reviews</a></li>
        <li ng-class="{'active' : $location.url() == '/following'}">
            <a href="#/following"><i class="glyphicon glyphicon-circle-arrow-right "></i>  &nbsp; &nbsp; &nbsp; &nbsp; Following </a></li>
    </ul>
</div>

<div ng-show="currentUser" class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="padding: 5px;">
            <div class="well profile col-sm-6 col-md-12">
                <div class="col-sm-12 col-md-12">
                <h2 class="page-header"> My Followers</h2>
                    <hr>
                <section class="col-xs-12 col-sm-12 col-md-12" ng-repeat="follower in followersProfiles">
                    <article class=" row">
                        <div class="col-xs-4 col-sm-3">
                            <a href="#/othersprofile/{{follower._id}}" title="{{follower.username}}"><img src="{{follower.profile_img}}" width="140" height="140" style="padding: 0px" alt="{{follower.username}}" class="img-responsive img-circle" /></a>
                        </div>
                        <div class="col-xs-8 col-sm-12 col-md-9 excerpet">
                            <h3><a href="#/othersprofile/{{follower._id}}" title="">{{follower.firstName}} {{follower.lastName}}</a></h3>
                            <br/>
                            <h4><i class="fa fa-star"></i> &nbsp; <strong> Reviews: </strong> {{follower.reviews.length}}</h4>
                            <h4><i class="fa fa-users"></i> &nbsp; <strong> Followers: </strong> {{follower.followers.length}}</h4>
                            <h4><i class="glyphicon glyphicon-circle-arrow-right"></i> &nbsp; <strong> Following: </strong> {{follower.following.length}}</h4>
                            <!--<div><i class="fa fa-users"></i> <h4><strong> Followers: </strong> {{follower.followers.length}}</h4></div>-->
                            <!--<div><i class="glyphicon glyphicon-circle-arrow-right "></i><h4><strong> Following: </strong> {{follower.following.length}}</h4></div>-->
                        </div>
                        <span class="clearfix borda"></span>
                        <hr/>
                    </article>
                </section>
                </div>
            </div>
        </div>
    </div>
</div>