<h2>Search</h2>

<input ng-model="searchValue"
       placeholder="Cheese Burger"/>

<button ng-click="searchFood()"
        class="btn btn-primary">
    Search
</button>

<!--<div ng-if="model.data">-->
    <!--<h3>Search Results</h3>-->
    <!--<table class="table table-striped">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th>Poster</th>-->
            <!--<th>Title</th>-->
            <!--<th>IMDB</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr ng-repeat="movie in model.data.Search">-->
            <!--<td>-->
                <!--<img ng-src="{{movie.Poster}}"-->
                     <!--height="100px"/>-->
            <!--</td>-->
            <!--<td>-->
                <!--<a href="#/details/{{movie.imdbID}}">-->
                    <!--{{movie.Title}}-->
                <!--</a>-->
            <!--</td>-->
            <!--<td>{{movie.imdbID}}</td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
<!--</div>-->