/*
 * Base structure
 */


/*
 * Global add-ons
 */
#mainhead {
    padding-left:20px;
}

#mainhead2 {
    padding-left:30px;
}

#non-hyper {
    color: #fff;
    background-color: #428bca;
    padding-right: 20px;
    padding-left: 20px;

}

.disabled { pointer-events: none; }

.custom-subhead {
    padding-left:3em;
}

.custom-subhead2 {
    padding-left:4em;
}

.custom-formlabel {
    padding-top: 10px;
}

.custom-divmar {
    margin-bottom: 5px;
}

.table-form {
    //margin-right: 0px;
    margin-bottom: 0px;
}

.glyphicon-size {
    font-size: 1.5em;
    padding-left: 5px;
    padding-right: 5px;
}

.glyphicon-size-small {
    font-size: 1em;
    padding-left: 5px;
    padding-right: 5px;
}

.data-font-size {
    font-size: 1.2em;
    margin-bottom:0px;
    padding-bottom: 0px;
//padding-left: 10px;
}

.table-80{
    width:80%;
}

.table-50{
    width:50%;
}

.table>tr>td{
    padding:5px;
    padding-left:15px;
    vertical-align: middle;
}

.glyph-td{
    width: 120px;
}

.glyph-div{
    top:2.8em;
    margin: 0 auto;
    text-align:end;
}

hr{
    height:1px;
    border:none;
    color:#333;
    background-color:#333;
    margin: 15px;
}

.glyphicon-colorgreen{
    color:#009900;
}

.glyphicon-colorred{
    color:#ff0000;
}

.glyphicon-colorbro{
    color:#993300;
}