<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<body>-->

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">Forms : {{form.title}}</h1>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#/forms">Forms</a></li>
                <li role="presentation" class="active"><a href="#" class="disabled">Fields</a></li>
            </ul>
            <form custom-field-sortable customAxis="y">
                <div class="row" ng-repeat="field in fields">
                    <div class="form-group col-xs-9 col-sm-6 custom-divmar" ng-model="field" ng-if="field.type == 'TEXT' || field.type == 'EMAIL'">
                        <label class="form-control-label custom-formlabel">{{field.label}}:</label>
                        <input type="text" class="form-control" ng-attr-placeholder="{{field.placeholder}}">
                    </div>

                    <div class="form-group col-xs-9 col-sm-6 custom-divmar" ng-model="field" ng-if="field.type == 'TEXTAREA'">
                        <label class="form-control-label custom-formlabel">{{field.label}}:</label>
                        <textarea type="text" class="form-control" rows="3" ng-attr-placeholder="{{field.placeholder}}"></textarea>
                    </div>

                    <div class="form-group col-xs-9 col-sm-6 custom-divmar" ng-model="field" ng-if="field.type == 'DATE'">
                        <label class="form-control-label custom-formlabel">{{field.label}}:</label>
                        <input type="date" class="form-control" ng-attr-placeholder="{{field.placeholder}}">
                    </div>

                    <div class="form-group col-xs-9 col-sm-6 custom-divmar" ng-model="field" ng-if="field.type == 'DROPDOWN'">
                        <label class="form-control-label custom-formlabel">{{field.label}}:</label>
                        <select class="form-control" ng-model="selectedOption"
                                ng-options="option.label for option in field.options">
                            <!--<option ng-attr-value="{{option.value}}" ng-repeat="option in field.options">{{option.label}}</option>-->
                            <!--<option value="">{{field.options[0].label}}</option>-->
                        </select>
                    </div>

                    <div class="form-group col-xs-9 col-sm-6 custom-divmar" ng-model="field" ng-if="field.type == 'CHECKBOXES'">
                        <label class="form-control-label custom-formlabel">{{field.label}}:</label>
                        <div class="checkbox" ng-repeat="option in field.options">
                            <label>
                                <input type="checkbox" ng-attr-value="{{option.value}}">
                                {{option.label}}
                            </label>
                        </div>
                    </div>

                    <div class="form-group col-xs-9 col-sm-6 custom-divmar" ng-model="field" ng-if="field.type == 'RADIOS'">
                        <label class="form-control-label custom-formlabel">{{field.label}}:</label>
                        <div class="radio" ng-repeat="option in field.options">
                            <label>
                                <input type="radio" ng-attr-value="{{option.value}}">
                                {{option.label}}
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-9 col-sm-6 glyph-div custom-divmar">
                        <span class="glyphicon glyphicon-pencil glyphicon-size glyphicon-colorbro" ng-click="editField(field)" data-toggle="modal" data-target="#myModal"></span>
                        <span></span>
                        <span class="glyphicon glyphicon-remove glyphicon-size glyphicon-colorred" ng-click="removeField(field)"></span>
                        <span class="glyphicon glyphicon-list-alt glyphicon-size"></span>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="form-group col-xs-9 col-sm-6 custom-divmar">
                        <label class="form-control-label custom-formlabel">Add New Field</label>
                        <select class="form-control" ng-model="selectedOption">
                            <option value="STXT">Single Line Text</option>
                            <option value="MTXT">Multi Line Text</option>
                            <option value="DATE">Date</option>
                            <option value="DROP">Dropdown</option>
                            <option value="CHK">Checkbox</option>
                            <option value="RAD">Radio Button</option>
                        </select>
                    </div>
                    <div class="col-xs-9 col-sm-6 glyph-div custom-divmar">
                        <span></span>
                        <span class="glyphicon glyphicon-plus glyphicon-size glyphicon-colorgreen" ng-click="addField(selectedOption)"></span>
                        <span></span>
                        <span></span>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <span class="glyphicon glyphicon-remove glyphicon-size-small col-md-1 glyphicon-colorred" data-dismiss="modal"></span>
                                    <h4 class="modal-title custom-subhead2" id="myModalLabel">{{sub.label}} Properties</h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div ng-if="sub.type == 'TEXT' || sub.type == 'EMAIL'">
                                        <div class="form-group row">
                                            <label class="col-sm-2 form-control-label custom-formlabel">Label:</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" ng-model="sub.label" ng-attr-placeholder="{{sub.label}}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 form-control-label custom-formlabel">Placeholder:</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" ng-model="sub.placeholder" ng-attr-placeholder="{{sub.placeholder}}">
                                            </div>
                                        </div>
                                        </div>

                                        <div ng-if="sub.type == 'DATE'">
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label custom-formlabel">Label:</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" ng-model="sub.label" ng-attr-placeholder="{{sub.label}}">
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-if="sub.type == 'TEXTAREA'">
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label custom-formlabel">Label:</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" ng-model="sub.label" ng-attr-placeholder="{{sub.label}}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label custom-formlabel">Placeholder:</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" ng-model="sub.placeholder" ng-attr-placeholder="{{sub.placeholder}}">
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-if="sub.type == 'DROPDOWN' || sub.type == 'CHECKBOXES'|| sub.type == 'RADIOS'">
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label custom-formlabel">Label:</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" ng-model="sub.label" ng-attr-placeholder="{{sub.label}}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label custom-formlabel">Options:</label>
                                                <div class="col-sm-6">
                                                    <textarea type="text" class="form-control" rows="5" ng-model="sub.options" ng-attr-placeholder="{{sub.placeholder}}">
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary" ng-click="updateField(sub)" data-dismiss="modal">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </form>

        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<!-- <script src="../../assets/js/vendor/holder.min.js"></script>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
<!--</body>-->
<!--</html>-->
