<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<body>-->

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">Forms : {{form.title}}</h1>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#/forms">Forms</a></li>
                <li role="presentation" class="active"><a href="#" class="disabled">Fields</a></li>
            </ul>
            <form>
                <div class="row" ng-repeat="field in fields">
                    <div class="form-group col-xs-9 col-sm-6 custom-divmar" ng-if="field.type == 'TEXT'">
                        <label for="firstname" class="form-control-label custom-formlabel">{{field.label}}:</label>
                        <input type="text" class="form-control" id="firstname" placeholder=field.placeholder>
                    </div>

                    <div class="form-group col-xs-9 col-sm-6 custom-divmar" ng-if="field.type == 'DATE'">
                        <label class="form-control-label custom-formlabel">{{field.label}}:</label>
                        <input type="date" class="form-control" placeholder=field.placeholder>
                    </div>

                    <div class="form-group col-xs-9 col-sm-6 custom-divmar" ng-if="field.type == 'OPTIONS'">
                        <label class="form-control-label custom-formlabel">{{field.label}}:</label>
                        <div class="dropdown" ng-model="fieldType">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{field.options[0].label}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li ng-repeat="option in field.options">{{option.label}}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group col-xs-9 col-sm-6 custom-divmar" ng-if="field.type == 'CHECKBOXES'">
                        <label class="form-control-label custom-formlabel">{{field.label}}:</label>
                        <div class="checkbox" ng-repeat="option in field.options">
                            <label>
                                <input type="checkbox" value="option.value">
                                {{option.label}}
                            </label>
                        </div>
                    </div>

                    <div class="form-group col-xs-9 col-sm-6 custom-divmar" ng-if="field.type == 'RADIOS'">
                            <label class="form-control-label custom-formlabel">{{field.label}}:</label>
                        <div class="radio" ng-repeat="option in field.options">
                            <label>
                                <input type="radio" value="option.value">
                                {{option.label}}
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-9 col-sm-6 glyph-div custom-divmar">
                        <span class="glyphicon glyphicon-pencil glyphicon-size glyphicon-colorbro"></span>
                        <span class="glyphicon glyphicon-plus glyphicon-size glyphicon-colorgreen"></span>
                        <span class="glyphicon glyphicon-remove glyphicon-size glyphicon-colorred"></span>
                        <span class="glyphicon glyphicon-list-alt glyphicon-size"></span>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="form-group col-xs-9 col-sm-6 custom-divmar">
                        <label class="form-control-label custom-formlabel">Add New Field</label>
                        <div class="dropdown" ng-model="fieldType">
                            <button class="btn btn-default dropdown-toggle" type="button" id="gender" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Single Line Text
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Checkbox</a></li>
                                <li><a href="#">Radio Button</a></li>
                                <li><a href="#">Dropdown</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-6 glyph-div custom-divmar">
                        <span></span>
                        <span class="glyphicon glyphicon-plus glyphicon-size glyphicon-colorgreen" ng-click="addField(fieldType)" data-toggle="modal" data-target="#myModal"></span>

                        <span></span>
                        <span></span>
                    </div>

                    <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <span class="glyphicon glyphicon-plus glyphicon-size-small col-md-1 glyphicon-colorbro"></span>
                                        <span class="glyphicon glyphicon-minus glyphicon-size-small col-md-1 glyphicon-colorbro"></span>
                                        <span class="glyphicon glyphicon-remove glyphicon-size-small col-md-1 glyphicon-colorred" data-dismiss="modal"></span>
                                        <h4 class="modal-title">Field Properties</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group row">
                                                <label for="inputdefault" class="col-sm-2 form-control-label custom-formlabel">Label:</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="inputdefault" placeholder="Label">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputdefault" class="col-sm-2 form-control-label custom-formlabel">Placeholder:</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="inputdefault" placeholder="Placeholder">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputdefault" class="col-sm-2 form-control-label custom-formlabel">Tooltip:</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="inputdefault" placeholder="Tooltip">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                            <label class="col-sm-2 form-control-label custom-formlabel">Type:</label>
                                            <div class="dropdown col-sm-6">
                                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Options
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#">Option 1</a></li>
                                                    <li><a href="#">Option 2</a></li>
                                                    <li><a href="#">Option 3</a></li>

                                                </ul>
                                            </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">OK</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                </div>
            </form>

        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<!-- <script src="../../assets/js/vendor/holder.min.js"></script>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
<!--</body>-->
<!--</html>-->
