<!DOCTYPE html>
<html lang="en">

<body>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">Admin</h1>
            <h2>Users</h2>
            <table class="table table-bordered table-80 table-responsive">
                <thead>
                <tr>
                    <th><span ng-click="order('username')" ng-class="{'glyphicon glyphicon-triangle-top':!usernameRevFlag, 'glyphicon glyphicon-triangle-bottom':usernameRevFlag }"></span>
                        <!--<span ng-click="order('username')" class="glyphicon glyphicon-triangle-bottom glyphicon-size-small"></span>-->
                        Username</th>
                    <th><span class="glyphicon glyphicon-size-small"></span>
                        Password</th>
                    <th><span ng-click="order('firstName')" ng-class="{'glyphicon glyphicon-triangle-top':firstnameRevFlag, 'glyphicon glyphicon-triangle-bottom':!firstnameRevFlag }"></span>
                        <!--<span ng-click="order('firstName')" class="sortorder" ng-class="{reverse:reverse}"></span>-->
                        <!--<span ng-click="order('firstName')" class="glyphicon glyphicon-triangle-bottom glyphicon-size-small"></span>-->
                        First Name</th>
                    <th><span ng-click="order('lastName')" ng-class="{'glyphicon glyphicon-triangle-top':lastnameRevFlag, 'glyphicon glyphicon-triangle-bottom':!lastnameRevFlag }"></span>
                        <!--<span ng-click="order('lastName')" class="sortorder" ng-class="{reverse:reverse}"></span>-->
                        <!--<span class="glyphicon glyphicon-triangle-bottom glyphicon-size-small"></span>-->
                        Last Name</th>
                    <th><span class="glyphicon glyphicon-size-small"></span>
                        Roles</th>
                    <th><span class="glyphicon glyphicon-size-small"></span>
                        Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="form-group row table-form">
                            <div class="col-sm-12">
                                <input type="text" ng-model="targetUser.username" class="form-control" id="inputdefault" placeholder="Username">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group row table-form">
                            <div class="col-sm-12">
                                <input type="password" ng-model="targetUser.password" class="form-control" id="inputdefault" placeholder="Password">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group row table-form">
                            <div class="col-sm-12">
                                <input type="text" ng-model="targetUser.firstName" class="form-control" id="inputdefault" placeholder="First Name">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group row table-form">
                            <div class="col-sm-12">
                                <input type="text" ng-model="targetUser.lastName" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group row table-form">
                            <div class="col-sm-12">
                                <input type="text" ng-model="targetUser.roles" class="form-control" placeholder="Role1,Role2">
                            </div>
                        </div>
                    </td>
                    <td class="glyph-td"><span class="glyphicon glyphicon-ok glyphicon-size glyphicon-colorgreen" ng-click="updateUser(targetUser)"></span>
                        <span class="glyphicon glyphicon-plus glyphicon-size glyphicon-colorgreen" ng-click="addUser(targetUser)"></span></td>
                </tr>
                <tr ng-repeat="userTemp in users | orderBy:predicate:reverse">
                    <td> {{userTemp.username}}</td>
                    <td> &nbsp; </td>
                    <td> {{userTemp.firstName}}</td>
                    <td> {{userTemp.lastName}}</td>
                    <td> {{userTemp.roles}}</td>
                    <td class="glyph-td">
                        <span class="glyphicon glyphicon-remove glyphicon-size glyphicon-colorred"
                              ng-click="deleteUser($index)"></span>
                        <span class="glyphicon glyphicon-pencil glyphicon-size glyphicon-colorbro"
                              ng-click="selectUser($index)"></span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<!-- <script src="../../assets/js/vendor/holder.min.js"></script>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
</body>
</html>
