<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<body>-->

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">Profile</h1>

            <form role="form">
                <div class="form-group row">
                    <label for="inputdefault" class="col-sm-2 form-control-label custom-formlabel">Username:</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="currentUser.username" class="form-control" id="inputdefault" placeholder="Username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 form-control-label custom-formlabel">Password:</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="currentUser.password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputdefault" class="col-sm-2 form-control-label custom-formlabel">First Name:</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="currentUser.firstName" class="form-control" id="inputdefault2" placeholder="First Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputdefault" class="col-sm-2 form-control-label custom-formlabel">Last Name:</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="currentUser.lastName" class="form-control" id="inputdefault3" placeholder="Last Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 form-control-label custom-formlabel">Email:</label>
                    <div class="col-sm-6">
                        <input type="email" ng-model="currentUser.emails[0]" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-4 col-sm-10">
                        <button type="submit" ng-click="update(currentUser)" class="btn btn-secondary">Update</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<!-- <script src="../../assets/js/vendor/holder.min.js"></script>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
<!--</body>-->
<!--</html>-->
