

<!--<div class="container-fluid">-->
<!--<div class="row">-->

<!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main jumbotron top102">-->
<!--<h1 class="page-header">Welcome!</h1>-->
<!--<p ng-if="currentUser">-->
<!--Welcome {{currentUser.username}}-->
<!--</p>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.-->
<!--</p>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->

<!-- Bootstrap core JavaScript
================================================== -->

<!--<div class="container" class="body-bg">-->
<!--<div class="row">-->
<!--<p ng-if="currentUser">-->
<!--Welcome {{currentUser.username}}-->
<!--</p>-->
<!--<div id="custom-search-input">-->
<!--<div class="input-group col-md-9 search-margin">-->
<!--<input id="foodTitleTxt" ng-model="model.searchTxt" type="search" class="form-control input-lg search-box"-->
<!--placeholder="Search, Checkin, Review!">-->
<!--<span class="input-group-btn">-->
<!--<button id="searchFoodBtn" ng-click="model.searchRedirect()" class="search-query btn btn-primary" type="button" >-->
<!--<span class="glyphicon glyphicon-search glyphicon-size"></span>-->
<!--</button>-->
<!--</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--data-interval="10000"-->
<div ng-hide="currentUser" id="myCarousel" class="carousel slide" data-ride="carousel">
    <div id="custom-search-input">

        <div class="input-group col-md-7 col-xs-7 search-margin">
            <input id="foodTitleTxt" ng-model="searchTxt" type="text" class="form-control"
                   placeholder="Search for food..like 'Pasta'">
        </div>
        <div class=" input-group col-md-7 col-xs-7 search-margin ">
            <input id="foodLoc" ng-model="searchLoc" type="text" class="form-control" placeholder="Boston,MA">
        </div>
        <div class="input-group col-md-7 col-xs-7 search-margin">
            <span class="input-group-btn">
                <button  id= "searchBtn" ng-click="searchRedirect()" class="btn btn-success btn-block form-control" type="button" >
                    Search
                    <!--<span class="glyphicon glyphicon-search glyphicon-size"></span>-->
                </button>
            </span>
        </div>

    </div>

    <!--Change starts-->

    <!--Change ends-->




    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides role="listbox" -->
    <div class="carousel-inner">
        <div class="item active">
            <!--/project/client/images/breakfast.jpg http://lorempixel.com/1400/500/food/1/ http://lorempixel.com/1400/500/food/2/
            http://lorempixel.com/1356/500/food/3/-->
            <img class="img-carousel img-responsive center-block" src="/project/client/images/food1.jpg" alt="slide1">
            <div class="carousel-caption">
                <h3>Looking for new places to eat?</h3>
                <h3>Search here!</h3>
                <p><a class="btn btn-lg btn-primary" href="#/register" role="button">Sign up today</a></p>
            </div>
        </div>

        <div class="item">
            <img class="img-carousel img-responsive center-block" src="/project/client/images/food2.jpg" alt="slide2">
            <div class="carousel-caption">
                <h3>What's your food quotient? Sign up to know more!</h3>
                <p><a class="btn btn-lg btn-primary" href="#/register" role="button">Sign up today</a></p>
            </div>
        </div>

        <div class="item">
            <img class="img-carousel img-responsive center-block" src="/project/client/images/food3.jpg" alt="Flower">
            <div class="carousel-caption">
                <h3>Like a food place? Share it with your friends</h3>
                <p><a class="btn btn-lg btn-primary" href="#/register" role="button">Sign up today</a></p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" target="_self" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" target="_self" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div ng-hide="currentUser" class="container marketing">

    <!-- Three columns of text below the carousel -->
    <h2>Search by cuisines!</h2>
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="/project/client/images/indianfood.jpg" alt="Indian Food" width="270" height="270" style="padding: 10px;">
            <h2><strong>Indian </strong></h2>
            <p>Indian cuisine encompasses a wide variety of regional cuisines native to India.
                Indian food is also heavily influenced by religious and cultural choices and traditions.</p>
            <p><a class="btn btn-success" href="#/search/indian/location/Boston,MA" role="button">Search </a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="/project/client/images/italianfood.jpg" alt="Italian Food" width="270" height="270" style="padding: 10px;">
            <h2><strong>Italian</strong></h2>
            <p>Italian cuisine is characterized by its simplicity, with many dishes having only four to eight ingredients.
                Italian cooks rely chiefly on the quality of the ingredients rather than on elaborate preparation.</p>
            <p><a class="btn btn-success" href="#/search/italian/location/Boston,MA" role="button">Search</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="/project/client/images/chinesefood.jpg" alt="Chinese food" width="270" height="270" style="padding: 10px;">
            <h2><strong>Chinese</strong></h2>
            <p>Chinese cuisine includes styles originating from the diverse regions of China,
                as well as from Chinese people in other parts of the world including most Asia nations.</p>
            <p><a class="btn btn-success" href="#/search/chinese/location/Boston,MA" role="button">Search</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Reviews from people you know! <span class="text-muted">Know better, taste better.</span></h2>
            <p class="lead">Follow your friends and know their likes.</p>
        </div>
        <div class="col-md-5">
            <img class=" img-responsive center-block" width="360" height="270" src="/project/client/images/people1.jpg" alt="Seekers">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Review places to let your friends know! <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Be a part of the foodie community.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="/project/client/images/people2.jpg" alt="Foodies">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Had something heavenly? <span class="text-muted">Get started! Post a review.</span></h2>
            <p class="lead">Looks delicious, ain't it?</p>
        </div>
        <div class="col-md-5">
            <!--http://goodgoodlife.org/wp-content/uploads/2014/07/butter-chicken.jpg-->
            <img class="featurette-image img-responsive center-block" src="/project/client/images/people3.jpg" alt="Foodies">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#top">Back to top</a></p>
        <p>&copy; 2016 Aditya Ramesha &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div><!-- /.container -->


<div ng-show="currentUser" class="col-sm-3 col-md-2 sidebar well">
    <ul class="nav nav-sidebar">
        <li ng-class="{'active' : $location.url() == '/'}" >
            <a href="#/"><i class="glyphicon glyphicon-home"></i> &nbsp; &nbsp; &nbsp; &nbsp; Home </a></li>
        <li ng-class="{'active' : $location.url() == '/profile'}">
            <a href="#/profile"><i class="glyphicon glyphicon-user"></i> &nbsp; &nbsp; &nbsp; &nbsp; Profile Overview </a></li>
        <li ng-class="{'active' : $location.url() == '/followers'}">
            <!--<button class="btn btn-default" ng-click = "changeDisplay()"><i class="fa fa-users"></i> &nbsp; &nbsp; &nbsp; &nbsp;Followers </button></li>-->
            <a href="#/followers"><i class="fa fa-users"></i> &nbsp; &nbsp; &nbsp; &nbsp;Followers </a></li>
        <li ng-class="{'active' : $location.url() == '/profile'}">
            <a href="#/profile"><i class="fa fa-star"></i> &nbsp; &nbsp; &nbsp; &nbsp; My Reviews</a></li>
        <li ng-class="{'active' : $location.url() == '/following'}">
            <a href="#/following"><i class="glyphicon glyphicon-circle-arrow-right "></i>  &nbsp; &nbsp; &nbsp; &nbsp; Following </a></li>
    </ul>
</div>

<!--<div class="container-fluid">-->
<!--<div class="row">-->

<!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main jumbotron">-->

<!--<h2 class="page-header">Welcome! Work in progress, check back shortly!</h2>-->
<!--<p>Food quotient is an app that let's you search food places, review them and share it with our friends!-->
<!--Check in more frequently to know what's your food quotient, and what your taste buds crave!-->
<!--</p>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->

<div ng-show="currentUser" class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header">Welcome, {{currentUser.username}}!</h2>
            <h4>Remember that splendid restaurant you went last weekend? let your friends know! look it up and review!
            </h4>
            <hr/>
            <h4> Looking for a place to eat tonight? Check out the places your friends visited below!</h4>
            <br/>
            <br/>
            <h2 class="page-header"> Recent activity from foodies you follow</h2>
            <!--<p>{{currentUser.username}}</p>-->
            <section class="col-xs-12 col-sm-12 col-md-12" ng-repeat="rev in followingReviews">
                <article class="search-result row">
                    <div class="col-xs-5 col-sm-4 col-md-2">
                        <a href="#/othersprofile/{{rev.userID}}" title="{{rev.username}}"><img src="{{rev.userimg}}" width="140" height="140" style="padding: 0px" alt="{{rev.username}}" class="img-responsive img-circle" /></a>
                    </div>
                    <div class="col-xs-7 col-sm-4 col-md-3">
                        <ul class="meta-search">
                            <li><i class="glyphicon glyphicon-calendar glyphicon-size"></i> <strong class="hidden-xs hidden-sm glyphicon-size"> Date: </strong><span class="glyphicon-size"> {{rev.updated.split(" ")[0]}} </span></li>
                            <li><i class="glyphicon glyphicon-time glyphicon-size"></i>  <strong class="hidden-xs hidden-sm glyphicon-size"> Time: </strong><span class="glyphicon-size"> {{rev.updated.split(" ")[1]}} </span></li>
                        </ul>
                        <!--<strong class="hidden-xs hidden-sm glyphicon-size"> Reviews: </strong>-->
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-7 excerpet">
                        <h3><a href="#/othersprofile/{{rev.userID}}" title="{{rev.username}}">{{rev.username}}</a> wrote a review for
                            <a href="#/details/{{rev.yelpID}}">{{rev.placeName}}</a></h3>
                        <p>{{rev.comment}}</p>
                    </div>
                    <span class="clearfix borda"></span>
                    <hr/>
                </article>
            </section>

            <!--<section class="col-xs-12 col-sm-12 col-md-12" ng-repeat="rev in followingReviews">-->
                <!--<article class="search-result row">-->
                    <!--<div class="col-xs-4 col-sm-4 col-md-3">-->
                        <!--<a href="#/othersprofile/{{rev.userID}}" title="{{rev.username}}"><img src="{{rev.userimg}}" width="140" height="140" style="padding: 0px" alt="{{follower.username}}" class="img-responsive img-circle" /></a>-->
                    <!--</div>-->
                    <!--<div class="col-xs-2 col-sm-2 col-md-3">-->
                        <!--<ul class="meta-search">-->
                            <!--<li><i class="glyphicon glyphicon-calendar"></i> <span>02/15/2014</span></li>-->
                            <!--<li><i class="glyphicon glyphicon-time"></i> <span>4:28 pm</span></li>-->
                            <!--<li><i class="glyphicon glyphicon-tags"></i> <span>People</span></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="col-xs-6 col-sm-6 col-md-6 excerpet">-->
                        <!--<h3><a href="#/othersprofile/{{rev.userID}}" title="">{{rev.username}}</a> wrote a review for-->
                            <!--<a href="#/details/{{rev.yelpID}}">{{rev.placeName}}-->
                            <!--</a> at {{rev.updated}}</h3>-->
                        <!--<p>{{rev.comment}}</p>-->

                    <!--</div>-->
                    <!--<span class="clearfix borda"></span>-->
                    <!--<hr/>-->
                <!--</article>-->
            <!--</section>-->

            <!--<div>-->
                <!--<div class="row">-->
                    <!--<article class="search-result row">-->
                        <!--<div class="col-xs-12 col-sm-12 col-md-3">-->
                            <!--<a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum" /></a>-->
                        <!--</div>-->
                        <!--<div class="col-xs-12 col-sm-12 col-md-7 excerpet">-->
                            <!--<h3><a href="#" title="">Science has not yet mastered prophecy.</a></h3>-->
                            <!--<p>When I orbited the Earth in a spaceship, I saw for the first time how beautiful our planet is.-->
                                <!--Mankind, let us preserve and increase this beauty, and not destroy it!</p>-->

                        <!--</div>-->
                        <!--<span class="clearfix borda"></span>-->
                        <!--<hr/>-->
                    <!--</article>-->

                    <!--<article class="search-result row">-->
                        <!--<div class="col-xs-12 col-sm-12 col-md-3">-->
                            <!--<a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum" /></a>-->
                        <!--</div>-->
                        <!--<div class="col-xs-12 col-sm-12 col-md-2">-->
                            <!--<ul class="meta-search">-->
                                <!--<li><i class="glyphicon glyphicon-calendar"></i> <span>02/15/2014</span></li>-->
                                <!--<li><i class="glyphicon glyphicon-time"></i> <span>4:28 pm</span></li>-->
                                <!--<li><i class="glyphicon glyphicon-tags"></i> <span>People</span></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--<div class="col-xs-12 col-sm-12 col-md-7 excerpet">-->
                            <!--<h3><a href="#" title="">Spaceflights cannot be stopped.</a></h3>-->
                            <!--<p>Curious that we spend more time congratulating people who have succeeded than encouraging people who have not.</p>-->
                            <!--<span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>-->
                        <!--</div>-->
                        <!--<span class="clearfix borda"></span>-->
                        <!--<hr/>-->
                    <!--</article>-->
                </div>
            </div>
        </div>
    </div>
</div>
