

<!--<div class="container-fluid">-->
<!--<div class="row">-->

<!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main jumbotron top102">-->
<!--<h1 class="page-header">Welcome!</h1>-->
<!--<p ng-if="currentUser">-->
<!--Welcome {{currentUser.username}}-->
<!--</p>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.-->
<!--</p>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->

<!-- Bootstrap core JavaScript
================================================== -->

<!--<div class="container" class="body-bg">-->
<!--<div class="row">-->
<!--<p ng-if="currentUser">-->
<!--Welcome {{currentUser.username}}-->
<!--</p>-->
<!--<div id="custom-search-input">-->
<!--<div class="input-group col-md-9 search-margin">-->
<!--<input id="foodTitleTxt" ng-model="model.searchTxt" type="search" class="form-control input-lg search-box"-->
<!--placeholder="Search, Checkin, Review!">-->
<!--<span class="input-group-btn">-->
<!--<button id="searchFoodBtn" ng-click="model.searchRedirect()" class="search-query btn btn-primary" type="button" >-->
<!--<span class="glyphicon glyphicon-search glyphicon-size"></span>-->
<!--</button>-->
<!--</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--data-interval="10000"-->
<div ng-hide="currentUser" id="myCarousel" class="carousel slide" data-ride="carousel">
    <div id="custom-search-input">
        <div class="input-group col-md-9 search-margin">
            <input id="foodTitleTxt" ng-model="model.searchTxt" type="search" class="form-control input-lg search-box"
                   placeholder="Search for food..like 'Pasta'">
    <span class="input-group-btn">
    <button id="searchFoodBtn" ng-click="model.searchRedirect()" class="search-query btn btn-primary" type="button" >
        <span class="glyphicon glyphicon-search glyphicon-size"></span>
    </button>
    </span>
        </div>
    </div>
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides role="listbox" -->
    <div class="carousel-inner">
        <div class="item active">
            <!--/project/client/images/pasta-03.jpg-->
            <img class="img-carousel img-responsive center-block" src="http://lorempixel.com/1400/500/food/1/" alt="slide1">
            <div class="carousel-caption">
                <h3>Looking for new places to eat? we can help you!</h3>
                <h3>Search, Checkin, Review!</h3>
                <p><a class="btn btn-lg btn-primary" href="#/register" role="button">Sign up today</a></p>
                <!--<div class="row">-->
                <!--<div class="col-lg-9">-->
                <!--<div class="input-group">-->
                <!--<input type="text" class="form-control" placeholder="Search for...">-->
                <!--<span class="input-group-btn">-->
                <!--<button class="btn btn-default" type="button">Go!</button>-->
                <!--</span>-->
                <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
                <!--</div>&lt;!&ndash; /.col-lg-6 &ndash;&gt;-->
                <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
            </div>
        </div>

        <div class="item">
            <img class="img-carousel img-responsive center-block" src="http://lorempixel.com/1400/500/food/2/" alt="slide2">
            <div class="carousel-caption">
                <h3>What's your food quotient? Sign up to know more!</h3>
                <p><a class="btn btn-lg btn-primary" href="#/register" role="button">Sign up today</a></p>
            </div>
        </div>

        <div class="item">
            <img class="img-carousel img-responsive center-block" src="http://lorempixel.com/1356/500/food/3/" alt="Flower">
            <div class="carousel-caption">
                <h3>Like a food place? Share it with your friends</h3>
                <p><a class="btn btn-lg btn-primary" href="#/register" role="button">Sign up today</a></p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" target="_self" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" target="_self" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<!--<div class="container marketing">-->

<!--&lt;!&ndash; Three columns of text below the carousel &ndash;&gt;-->
<!--<div class="row">-->
<!--<div class="col-lg-4">-->
<!--<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">-->
<!--<h2>Heading</h2>-->
<!--<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>-->
<!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
<!--</div>&lt;!&ndash; /.col-lg-4 &ndash;&gt;-->
<!--<div class="col-lg-4">-->
<!--<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">-->
<!--<h2>Heading</h2>-->
<!--<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>-->
<!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
<!--</div>&lt;!&ndash; /.col-lg-4 &ndash;&gt;-->
<!--<div class="col-lg-4">-->
<!--<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">-->
<!--<h2>Heading</h2>-->
<!--<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>-->
<!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
<!--</div>&lt;!&ndash; /.col-lg-4 &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.row &ndash;&gt;-->


<!--&lt;!&ndash; START THE FEATURETTES &ndash;&gt;-->

<!--<hr class="featurette-divider">-->

<!--<div class="row featurette">-->
<!--<div class="col-md-7">-->
<!--<h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>-->
<!--<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>-->
<!--</div>-->
<!--<div class="col-md-5">-->
<!--<img class="featurette-image img-responsive center-block" data-src="images/pasta-03.jpg" alt="Generic placeholder image">-->
<!--</div>-->
<!--</div>-->

<!--<hr class="featurette-divider">-->

<!--<div class="row featurette">-->
<!--<div class="col-md-7 col-md-push-5">-->
<!--<h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>-->
<!--<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>-->
<!--</div>-->
<!--<div class="col-md-5 col-md-pull-7">-->
<!--<img class="featurette-image img-responsive center-block" data-src="images/pasta-03.jpg" alt="Generic placeholder image">-->
<!--</div>-->
<!--</div>-->

<!--<hr class="featurette-divider">-->

<!--<div class="row featurette">-->
<!--<div class="col-md-7">-->
<!--<h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>-->
<!--<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>-->
<!--</div>-->
<!--<div class="col-md-5">-->
<!--<img class="featurette-image img-responsive center-block" data-src="images/pasta-03.jpg" alt="Generic placeholder image">-->
<!--</div>-->
<!--</div>-->

<!--<hr class="featurette-divider">-->

<!--&lt;!&ndash; /END THE FEATURETTES &ndash;&gt;-->


<!--&lt;!&ndash; FOOTER &ndash;&gt;-->
<!--<footer>-->
<!--<p class="pull-right"><a href="#">Back to top</a></p>-->
<!--<p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>-->
<!--</footer>-->

<!--</div>&lt;!&ndash; /.container &ndash;&gt;-->


<div ng-show="currentUser" class="col-sm-3 col-md-2 sidebar well">
    <ul class="nav nav-sidebar">
        <li ng-class="{'active' : $location.url() == '/'}" >
            <a href="#/"><i class="glyphicon glyphicon-home"></i> &nbsp; &nbsp; &nbsp; &nbsp; Home </a></li>
        <li ng-class="{'active' : $location.url() == '/profile'}">
            <a href="#/profile"><i class="glyphicon glyphicon-user"></i> &nbsp; &nbsp; &nbsp; &nbsp; Profile Overview </a></li>
        <li ng-class="{'active' : $location.url() == '/followers'}">
            <a href="#/" ng-click = "changeDisplay('FOLLOWERS')"><i class="fa fa-users"></i> &nbsp; &nbsp; &nbsp; &nbsp;Followers </a></li>
        <li ng-class="{'active' : $location.url() == '/reviews'}">
            <a href="#/"><i class="fa fa-star"></i> &nbsp; &nbsp; &nbsp; &nbsp; My Reviews</a></li>
        <li ng-class="{'active' : $location.url() == '/following'}">
            <a href="#/admin"><i class="glyphicon glyphicon-circle-arrow-right "></i>  &nbsp; &nbsp; &nbsp; &nbsp; Following </a></li>
    </ul>
</div>

<!--<div class="container-fluid">-->
<!--<div class="row">-->

<!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main jumbotron">-->

<!--<h2 class="page-header">Welcome! Work in progress, check back shortly!</h2>-->
<!--<p>Food quotient is an app that let's you search food places, review them and share it with our friends!-->
<!--Check in more frequently to know what's your food quotient, and what your taste buds crave!-->
<!--</p>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->

<div ng-show="currentUser" class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


            <h2 class="page-header">Welcome! Work in progress, check back shortly!</h2>
            <p>Food quotient is an app that let's you search food places, review them and share it with our friends!
                Check in more frequently to know what's your food quotient, and what your tastebuds crave!
            </p>
            <hr/>
            <br/>
            <br/>
            <h2 class="page-header"> Recent activity from foodies you follow</h2>
            <p>{{currentUser.username}}</p>

            <section class="col-xs-12 col-sm-12 col-md-12" ng-repeat="foll in model.followingProfiles">
                <article class="search-result row" ng-repeat="rev in foll.reviews">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <!--can put place image-->
                        <a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum" /></a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                        <h3><a href="#/othersprofile/{{foll._id}}" title="">{{foll.username}}</a> wrote a review for
                            <a href="#/details/{{rev.yelpID}}">{{rev.placeName}}
                            </a></h3>
                        <p>{{rev.comment}}</p>

                    </div>
                    <span class="clearfix borda"></span>
                    <hr/>
                </article>
            </section>

            <div>
                <div class="row">
                    <article class="search-result row">
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum" /></a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                            <h3><a href="#" title="">Science has not yet mastered prophecy.</a></h3>
                            <p>When I orbited the Earth in a spaceship, I saw for the first time how beautiful our planet is.
                                Mankind, let us preserve and increase this beauty, and not destroy it!</p>

                        </div>
                        <span class="clearfix borda"></span>
                        <hr/>
                    </article>

                    <article class="search-result row">
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum" /></a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <ul class="meta-search">
                                <li><i class="glyphicon glyphicon-calendar"></i> <span>02/15/2014</span></li>
                                <li><i class="glyphicon glyphicon-time"></i> <span>4:28 pm</span></li>
                                <li><i class="glyphicon glyphicon-tags"></i> <span>People</span></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                            <h3><a href="#" title="">Spaceflights cannot be stopped.</a></h3>
                            <p>Curious that we spend more time congratulating people who have succeeded than encouraging people who have not.</p>
                            <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
                        </div>
                        <span class="clearfix borda"></span>
                        <hr/>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="display == 'FOLLOWERS'">
    <h2 class="page-header"> My Followers</h2>
    <section class="col-xs-12 col-sm-12 col-md-12" ng-repeat="follower in model.followersProfiles">
        <article class="search-result row">
            <!--<div class="col-xs-12 col-sm-12 col-md-5">-->
            <!--&lt;!&ndash;can put place image&ndash;&gt;-->
            <!--<a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum" /></a>-->
            <!--</div>-->
            <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                <h3><a href="#/othersprofile/{{follower._id}}" title="">{{foll.username}}</a></h3>
                <h3>Reviews: {{follower.reviews.length}}</h3>
                <h3>Followers: {{follower.followers.length}}</h3>
                <h3>Following: {{follower.following.length}}</h3>
            </div>
            <span class="clearfix borda"></span>
            <hr/>
        </article>
    </section>
</div>