<div class="container">
<h2>Search</h2>

<input ng-model="searchValue" class="form-control"
       placeholder="Cheese Burger"/>

<button ng-click="searchFood()"
        class="btn btn-primary btn-block">
    Search
</button>

<div ng-if="data">
    <h3>Search Results:</h3>
    <!--<h3>{{model.data.region}}</h3>-->
    <table class="table table-hover table-bg">
        <thead>
        <tr>
            <th>Poster</th>
            <th>Title</th>
            <th>YelpID</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="business in data.businesses">
            <td>
                <img ng-src="{{business.image_url}}"
                     height="100px"/>
            </td>
            <td>
                <a href="#/details/{{business.id}}">
                    {{business.name}}
                </a>
            </td>
            <td>{{business.id}}</td>
        </tr>
        </tbody>
    </table>
</div>
</div>