<div class="container">
    <hgroup class="mb20">
        <h1>Search</h1>

        <input ng-model="searchValue" class="form-control"
               placeholder="Cheese Burger"/>
        <input ng-model="searchLoc" class="form-control"
               placeholder="Boston,MA"/>
        <button ng-click="searchFood()"
                class="btn btn-success btn-block">
            Search
        </button>
        <br/>
        <h1>Search Results</h1>
        <h2 class="lead"><strong class="text-danger">{{data.total}}</strong> results were found for the search for <strong class="text-danger">"{{searchValue}}"</strong></h2>
    </hgroup>

    <section class="col-xs-12 col-sm-12 col-md-12" ng-repeat="business in data.businesses">
        <article class="search-result row">
            <div class="col-xs-5 col-sm-3 col-md-3">
                <a href="#/details/{{business.id}}" title="{{business.name}}">
                    <img ng-src="{{business.image_url}}" ng-alt="{{business.name}}" class="img-responsive" /></a>
            </div>
            <div class="col-xs-7 col-sm-2 col-md-2">
                <ul class="meta-search">
                    <li>
                        <img src="{{business.rating_img_url_large}}"  class="img-responsive"/>
                    </li>
                    <li>
                        <i class="fa fa-users glyphicon-size"></i> <span class="glyphicon-size">{{business.review_count}}</span></li>
                    <li>
                        <span ng-show="business.is_claimed">
                                <i class="glyphicon glyphicon-thumbs-up glyphicon-size"></i>
                        </span>
                        <span ng-show="!business.is_claimed">
                                <i class="glyphicon glyphicon-thumbs-down glyphicon-size"></i>
                        </span>
                    </li>
                    <!--<li><i class="glyphicon glyphicon-thumbs-up glyphicon-size"></i> <span class="glyphicon-size">People</span></li>-->
                </ul>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7">
                <h3><a href="#/details/{{business.id}}" title="{{business.name}}">{{business.name}}</a></h3>
                <p>Top Review: {{business.snippet_text}}</p>
                <!--<span class="plus"><a href="#/details/{{business.id}}" title="{{business.name}}"><i class="glyphicon glyphicon-plus"></i></a></span>-->
            </div>
            <span class="clearfix borda"></span>
            <hr/>
        </article>

    </section>
</div>