
<nav class="navbar navbar-wrapper navbar-inverse navbar-fixed-top" ng-controller="HeaderController as model">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand br-font" href="#/">FoodQuotient</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--ng-class="{'active' : $location.url().indexOf('register') != -1}"-->
                <li class="li-nowrap">
                    <div class="input-group col-xs-10 col-sm-10 col-md-12" style="margin-right: 15px">
                    <form ng-hide="$location.url().length <= 1 || $location.url().indexOf('search') != -1" class="navbar-form navbar-right">
                    <input id="foodTitleTxt" ng-model="model.searchTxt" type="search" class="form-control" placeholder="Cheese burger..." autofocus >
                    <button id="searchFoodBtn" ng-click="model.searchRedirect()" class="btn btn-success"><span class="glyphicon glyphicon-search glyphicon-size-small"></span></button>
                    </form>
                    </div>
                </li>

                <li ng-hide="currentUser"
                    ng-class="{'active' : model.$location.url() == '/register'}" ><a href="#/register" class="padding-custom">Register</a></li>
                <li ng-hide="currentUser"
                    ng-class="{'active' : model.$location.url() == '/login'}"  ><a href="#/login" class="padding-custom">Login</a></li>
                <li ng-show="currentUser"
                    ng-class="{'active' : model.$location.url() == '/profile'}" ><a href="#/profile" id="pro">Profile</a></li>
                <li ng-show="currentUser.roles.indexOf('admin') >= 0"
                    ng-class="{'active' : model.$location.url() === '/admin'}" ><a href="#/admin">Admin</a></li>
                <li ng-show="currentUser"
                    ng-class="{'active' : model.$location.url() == '/profile'}"> <a href="#/" ng-click="model.logout()">Logout</a></li>
            </ul>
        </div>
        <!--<a class="navbar-brand padding-taste" href="#/" ><h4 class="h2-custom"> Taste the Best!</h4></a>-->


    </div>
</nav>

<!--<div class="navbar-wrapper">-->
    <!--<div class="container">-->

        <!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
            <!--<div class="container-fluid">-->
                <!--<div class="navbar-header">-->
                    <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
                        <!--<span class="sr-only">Toggle navigation</span>-->
                        <!--<span class="icon-bar"></span>-->
                        <!--<span class="icon-bar"></span>-->
                        <!--<span class="icon-bar"></span>-->
                    <!--</button>-->
                    <!--<a class="navbar-brand" href="#">Project name</a>-->
                <!--</div>-->
                <!--<div id="navbar" class="navbar-collapse collapse">-->
                    <!--<ul class="nav navbar-nav">-->
                        <!--<li class="active"><a href="#">Home</a></li>-->
                        <!--<li><a href="#about">About</a></li>-->
                        <!--<li><a href="#contact">Contact</a></li>-->
                        <!--<li><form><div class="row col-md-5">-->
                        <!--<div class="col-md-3"><input id="foodTitleTxt" ng-model="model.searchTxt" type="search" class="form-control" placeholder="Cheese burger..." autofocus ></div>-->
                        <!--<div class="col-md-2"><button id="searchFoodBtn" ng-click="model.searchRedirect()" class="btn btn-success"><span class="glyphicon glyphicon-search glyphicon-size-small"></span></button></div>-->
                        <!--</div></form></li>-->
                        <!--<li class="dropdown">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li><a href="#">Action</a></li>-->
                                <!--<li><a href="#">Another action</a></li>-->
                                <!--<li><a href="#">Something else here</a></li>-->
                                <!--<li role="separator" class="divider"></li>-->
                                <!--<li class="dropdown-header">Nav header</li>-->
                                <!--<li><a href="#">Separated link</a></li>-->
                                <!--<li><a href="#">One more separated link</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</nav>-->

    <!--</div>-->
<!--</div>-->