
<nav class="navbar navbar-wrapper navbar-inverse navbar-fixed-top" ng-controller="HeaderController as model">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand br-font" href="#/">FoodQuotient</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--ng-class="{'active' : $location.url().indexOf('register') != -1}"-->
                <!--$location.url().length <= 1 ||-->
                <li class="li-nowrap">
                    <div ng-show="currentUser" class="input-group col-xs-11 col-sm-11 col-md-12" style="padding-right: 15px">
                        <form ng-hide="$location.url().indexOf('search') != -1" class="navbar-form navbar-right">
                            <input id="foodTitleTxtNav" ng-model="model.searchTxt" type="search" class="form-control" placeholder="Cheese burger..." autofocus style="margin-right: 5px; border-radius: 3px;">
                            <input id="foodLoc" ng-model="model.searchLoc" type="search" class="form-control" placeholder="Boston,MA" style="margin-right: 5px; border-radius: 3px;">
                            <button id="searchFood  Btn" ng-click="model.searchRedirect()" class="btn btn-success"><span class="glyphicon glyphicon-search glyphicon-size-small"></span></button>
                        </form>
                    </div>
                </li>
                <li ng-show="currentUser"
                    ng-class="{'active' : model.$location.url() == '/following'}" ><a href="#/following"> <i class="glyphicon glyphicon-circle-arrow-right"></i> &nbsp; Following </a></li>
                <li ng-show="currentUser"
                    ng-class="{'active' : model.$location.url() == '/followers'}" ><a href="#/followers"> <i class="fa fa-users"></i> &nbsp; Followers </a></li>
                <li ng-show="currentUser"
                    class="active"> <a href="#/"> <i class="glyphicon glyphicon-home"></i> &nbsp; Home </a></li>

                <li ng-hide="currentUser"
                    ng-class="{'active' : model.$location.url() == '/register'}" ><a href="#/register" class="padding-custom">Sign up <i class="fa fa-angle-double-right"></i></a></li>
                <li ng-hide="currentUser"
                    ng-class="{'active' : model.$location.url() == '/login'}"  ><a href="#/login" class="padding-custom">Login <i class="glyphicon glyphicon-log-in"></i> </a></li>
                <li ng-show="currentUser"
                    ng-class="{'active' : model.$location.url() == '/profile'}" ><a href="#/profile"><i class="glyphicon glyphicon-user"></i> Hi, {{currentUser.username}}!</a></li>
                <li ng-show="currentUser.roles.indexOf('admin') >= 0"
                    ng-class="{'active' : model.$location.url() === '/admin'}" ><a href="#/admin">Admin</a></li>
                <li ng-show="currentUser"
                    ng-class="{'active' : model.$location.url() == '/profile'}"> <a href="#myCarousel" ng-click="model.logout()">Logout <i class="glyphicon glyphicon-log-out"></i></a></li>
            </ul>
        </div>
        <!--<a class="navbar-brand padding-taste" href="#/" ><h4 class="h2-custom"> Taste the Best!</h4></a>-->


    </div>
</nav>