<div ng-show="currentUser" class="col-sm-3 col-md-2 sidebar well">
    <ul class="nav nav-sidebar">
        <li ng-class="{'active' : $location.url() == '/'}" >
            <a href="#/"><i class="glyphicon glyphicon-home"></i> &nbsp; &nbsp; &nbsp; &nbsp; Home </a></li>
        <li ng-class="{'active' : $location.url() == '/profile'}">
            <a href="#/profile"><i class="glyphicon glyphicon-user"></i> &nbsp; &nbsp; &nbsp; &nbsp; Profile Overview </a></li>
        <li ng-class="{'active' : $location.url() == '/followers'}">
            <a href="#/followers"><i class="fa fa-users"></i> &nbsp; &nbsp; &nbsp; &nbsp;Followers </a></li>
        <li ng-class="{'active' : $location.url() == '/reviews'}">
            <a href="#/profile"><i class="fa fa-star"></i> &nbsp; &nbsp; &nbsp; &nbsp; My Reviews</a></li>
        <li ng-class="{'active' : $location.url() == '/following'}">
            <a href="#/following"><i class="glyphicon glyphicon-circle-arrow-right "></i>  &nbsp; &nbsp; &nbsp; &nbsp; Following </a></li>
    </ul>
</div>

<div ng-show="currentUser" class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="padding: 5px;">
            <div class="well profile col-sm-12 col-md-12">
                <!--<div class="col-sm-12 col-md-12">-->
                <h2 class="page-header"> Foodies I follow: </h2>
                    <section class="col-xs-12 col-sm-12 col-md-12" ng-repeat="follower in followingProfiles">
                        <article class="search-result row">
                            <div class="col-xs-5 col-sm-4 col-md-2">
                                <a href="#/othersprofile/{{follower._id}}" title="{{follower.username}}"><img src="{{follower.profile_img}}" width="140" height="140" style="padding: 0px" alt="{{follower.username}}" class="img-responsive img-circle" /></a>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <ul class="meta-search">
                                    <li><i class="fa fa-star glyphicon-size"></i> <strong class="hidden-xs hidden-sm glyphicon-size"> Reviews:  &nbsp; &nbsp;</strong><span class="glyphicon-size"> {{follower.reviews.length}} </span></li>
                                    <li><i class="fa fa-users glyphicon-size"></i>  <strong class="hidden-xs hidden-sm glyphicon-size"> Followers: &nbsp; </strong><span class="glyphicon-size"> {{follower.followers.length}} </span></li>
                                    <li><i class="glyphicon glyphicon-circle-arrow-right glyphicon-size"></i> <strong class="hidden-xs hidden-sm glyphicon-size"> Following: &nbsp; </strong><span class="glyphicon-size"> {{follower.following.length}}</span></strong></li>
                                </ul>
                                <!--<strong class="hidden-xs hidden-sm glyphicon-size"> Reviews: </strong>-->
                            </div>
                            <div class="col-xs-4 col-sm-5 col-md-7 excerpet">
                                <h3><a href="#/othersprofile/{{follower._id}}" title="">{{follower.firstName}} {{follower.lastName}}</a></h3>
                                <h4>About Me: </h4>
                                <p>{{follower.aboutMe}}</p>
                            </div>
                            <span class="clearfix borda"></span>
                            <hr/>
                        </article>
                    </section>

                <!--</div>-->
            </div>
        </div>
    </div>
</div>
